target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

gtfFiles/
gtfFiles/*

results/
results/*

output_plot/
output_plot/*

report/auxiliary/
report/auxiliary/*
report/tables/
report/tables/*
report/base.aux
report/base.bbl
report/base.bcf
report/base.blg
report/base.fdb_latexmk
report/base.fls
report/base.log
report/base.out
report/base.run.xml
report/base.synctex.gz
report/math.sty
report/online_supplement.pdf
report/online_supplement.tex
report/paper.sty
report/references.bib

.idea/
.idea/*



